section {
    background-color: #70696945;
    border-radius: 25px;
    padding: 2rem;
    margin: 2rem auto;
    width: 600px;
    color: #706969;
}

section h1 {
    margin-bottom: 2rem;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    color: #706969;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

li strong {
    font-size: 1.2rem;
}

li span {
    margin-top: 0.5rem;
}

.back-to-home-button {
    background-color: #706969d2;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-size: 15px;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back-to-home-button:hover {
    background-color: white;
    color: #706969;
    transform: scale(1.02);
}
