section {
    background-color: #70696945;
    border-radius: 25px;
    padding: 2rem;
    margin: 2rem auto;
    width: 400px;
    color: #706969;
}
  
label {
    margin-top: 1rem;
    font-weight: bold;
}
  
input {
    margin-top: 0.3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #706969;
}
  
button {
    background-color: #706969d2;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-size: 15px;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px;
}
  
button:hover {
    background-color: white;
    color: #706969;
}
  
button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}
  
.success {
    color: green;
    text-align: center;
    margin-top: 1rem;
}
  
.error {
    color: rgb(186, 0, 0);
    text-align: center;
    margin-top: 1rem;
}

.info {
    font-size: 13px;
    margin-bottom: 0;
    align-self: flex-start;
}