section {
    background-color: #70696945;
    border-radius: 25px;
    padding: 2rem;
    margin: 2rem auto;
    width: 600px;
    color: #706969;
}

section h2 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 18px;
    text-align: center;
}

section .info {
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

section h3 {
    background-color: #706969d2;
    color: white;
    font-weight: 400;
    padding: 1rem;
    border-radius: 10px;
    min-width: 300px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

li strong {
    margin-top: 1rem;
}

p {
    margin: 0.3rem;
}

.back-to-home-button {
    background-color: #706969d2;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-size: 15px;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back-to-home-button:hover {
    background-color: white;
    color: #706969;
    transform: scale(1.02);
}
